accelerate==0.26.1
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
argparse==1.4.0
async-timeout==4.0.3
attrs==23.2.0
audioread==3.0.1
autocommand==2.2.2
backports.tarfile==1.2.0
beartype==0.16.4
boto3==1.34.109
botocore==1.34.109
braceexpand==0.1.7
brotli==1.0.9
certifi==2023.11.17
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.3.2
click==8.1.7
clip-anytorch==2.6.0
coca-pytorch==0.1.0
colorama==0.4.6
configparser==7.0.0
contourpy==1.1.1
cycler==0.12.1
dalle2-pytorch==1.15.6
dc1d==0.0.7
decorator==4.4.2
dill==0.3.8
docker-pycreds==0.4.0
einops==0.7.0
einx==0.1.1
ema-pytorch==0.3.2
embedding-reader==1.6.1
filelock==3.13.1
fonttools==4.51.0
frozendict==2.4.0
frozenlist==1.4.1
fsspec==2023.12.2
ftfy==6.1.3
gitdb==4.0.11
gitpython==3.1.43
huggingface-hub==0.23.0
idna==3.6
imageio-ffmpeg==0.5.1
imageio==2.35.1
importlib-metadata==8.5.0
importlib-resources==6.4.0
inflect==7.3.1
jaraco.collections==5.1.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
jaraco.text==3.12.1
jinja2==3.1.3
jmespath==1.0.1
joblib==1.4.2
kiwisolver==1.4.5
kornia==0.7.1
lazy-loader==0.4
librosa==0.10.2.post1
lightning-utilities==0.10.1
llvmlite==0.41.1
markupsafe==2.1.4
matplotlib==3.7.5
mkl-fft==1.3.8
mkl-random==1.2.4
mkl-service==2.4.0
mmdata==0.0.1
more-itertools==10.3.0
moviepy==1.0.3
mpmath==1.3.0
msgpack==1.1.0
multidict==6.0.5
multiprocess==0.70.16
networkx==3.1
numba==0.58.1
numpy==1.24.3
open-clip-torch==2.24.0
packaging==24.1
pandas==2.0.3
pathtools==0.1.2
pillow==10.2.0
pip==24.2
platformdirs==3.10.0
pooch==1.7.0
proglog==0.1.10
promise==2.3
protobuf==3.19.0
psutil==5.9.8
pyarrow-hotfix==0.6
pyarrow==14.0.2
pycparser==2.22
pydantic-core==2.14.6
pydantic==2.5.3
pyparsing==3.1.2
pysocks==1.7.1
python-dateutil==2.8.2
pytorch-transformers==1.2.0
pytorch-warmup==0.1.1
pytz==2023.3.post1
pyyaml==6.0.1
regex==2023.12.25
requests==2.31.0
resize-right==0.0.2
rotary-embedding-torch==0.5.3
s3transfer==0.10.1
sacremoses==0.1.1
safetensors==0.4.1
scikit-learn==1.3.0
scipy==1.10.1
sentencepiece==0.1.99
sentry-sdk==2.2.0
setuptools==75.1.0
shortuuid==1.0.13
six==1.16.0
smmap==5.0.1
soundfile==0.12.1
soxr==0.3.7
subprocess32==3.5.4
sympy==1.12
threadpoolctl==3.5.0
timm==0.9.12
tokenizers==0.19.1
tomli==2.0.1
torch-fidelity==0.3.0
torch==2.1.2+cu121
torchaudio==2.1.2+cu121
torchmetrics==1.3.0.post0
torchsummary==1.5.1
torchvision==0.16.2
tqdm==4.66.1
transformers==4.41.0
typeguard==4.3.0
typing-extensions==4.9.0
tzdata==2023.4
urllib3==1.26.18
validators==0.28.1
vector-quantize-pytorch==1.12.16
wandb==0.10.25
wcwidth==0.2.13
webdataset==0.2.86
wheel==0.44.0
win-inet-pton==1.1.0
x-clip==0.14.4
xxhash==3.4.1
yarl==1.9.4
zipp==3.20.2